body {
    font-family: 'Noir Lullaby', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    color: navy;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: darkslateblue;
}

p, ul {
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style-type: square;
}

img {
    border-radius: 50%;
}
